{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Habit Tracker</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="habit">Enter your habit:</label>
                        <input type="text" id="habit" name="habit" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Add Habit</button>
                </form>
                <h3 class="mt-4">Habit History</h3>
                <ul class="list-group">
                    {% for habit in habits %}
                        <li class="list-group-item">{{ habit.name }} - {{ habit.date }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
